:javascript
  function clear_position(elem) {
    elem.css('left','');
    elem.css('top','');
    if (elem.parent().hasClass('slot')) $(elem).css('position','');
  }
  
  function save_parent(parent_id, child_id) {
    $.post('/ideas/update_parent/'+child_id+'/'+parent_id);
  }
  
  $(function() {
  	$( ".idea" ).draggable({ revert: "invalid" });
  	$(".idea").dblclick(function() {
  	  id = $(this).attr('data-id');
  	  window.location.replace('/ideas/'+id+'/edit');
  	});
  	$(".idea, .ideas, .slot").droppable({
      hoverClass: "ui-state-active",
      greedy: true,
      drop: function(event, ui) {
        $(this).append($(ui.draggable));
        clear_position(ui.draggable);
        save_parent($(this).attr('data-id'),$(ui.draggable).attr('data-id'));
      }
    });
  	$('.edit-links').hide();
  });
%h1 Brainstormer
%h2 In Progress
.slots
  - @slots.each do |idea|
    = render :partial => 'idea', :locals => { :idea => idea, :parent_class => 'slot' }
.ideas
  %h2 All Ideas
  - @ideas.each do |idea|
    = render :partial => 'idea', :locals => { :idea => idea}
  .clearfix
.new-idea
  = render :partial => 'new'